    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* width: 100vw; */
        overflow: hidden;
        margin: 0;
    }
    
    .nav {
        background: url("./assets/background.jpg") no-repeat center center/cover;
        position: absolute;
        top: -30px;
        left: -30px;
        width: calc(100vw + 60px);
        height: calc(100vh + 60px);
        z-index: -1;
        filter: blur(30px);
    }
    
    .loding-text {
        font-size: 50px;
        color: #fff;
    }