    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    header {
        background: url(./images/desktop/image-header.jpg ) no-repeat center center/cover;
        height: 500px;
        color: white;
        font-size: 16px;
        text-align: none;
    }
    
    header div {
        display: flex;
    }
    
    div nav {
        margin-left: auto;
    }
    
    .text-logo {
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    header>h2 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    
    nav {
        float: left;
    }
    
    nav li {
        display: inline;
    }
    
    li {
        list-style: none;
        padding: 2rem;
    }
    
    nav li a {
        color: white;
        text-decoration: none;
    }
    
    nav li a:hover {
        text-transform: uppercase;
    }
    
    .transform-standout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    
    .transfrom-brand,
    .stand-out {
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    
    .learn-more-btn {
        display: block;
        margin-top: 1rem;
    }
    
    button,
    img {
        display: block;
        border: none;
        background-color: white;
    }
    
    button a {
        text-decoration: none;
        color: #000;
    }
    
    .images-container {
        display: flex;
    }
    
    .images-container img {
        min-width: 300px;
    }
    
    .graphic-design-photo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    
    .graphic-design {
        background: url(./images/desktop/image-graphic-design.jpg) no-repeat center center/cover;
        min-height: 500px;
        width: 45rem;
        text-align: center;
    }
    
    .Photography {
        background: url(./images/desktop/image-photography.jpg) no-repeat center center/cover;
        min-height: 500px;
        width: 45rem;
        text-align: center;
    }
    
    .graphic-design h1,
    .Photography h1 {
        padding-top: 10em;
    }
    
    .graphic-design p,
    .Photography p {
        padding-top: 3em;
        margin: auto;
        color: #000;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    
    .clnt-test h3 {
        text-align: center;
        margin-top: 3rem;
        font-size: 4rem;
        font-weight: bold;
        font-family: arial;
    }
    
    .clients-testimonials {
        min-height: 300px;
        min-width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        margin: auto;
        text-align: center;
        grid-gap: 8em;
        padding-top: 5rem;
    }
    
    .clients-testimonials img {
        margin: auto;
        border-radius: 70px;
    }
    
    .clients-testimonials p {
        text-align: center;
        margin-top: 2em;
        color: #000;
        margin-left: 3rem;
        float: left;
    }
    
    footer {
        background-color: #84bcc4;
        text-align: center;
        padding-bottom: 5em;
        margin: 0;
    }
    
    footer ul {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    
    footer ul li {
        display: inline;
        list-style: none;
        padding: 2em;
    }
    
    footer ul li a {
        text-decoration: none;
        color: #588c7e;
    }
    
    footer h1 {
        color: #588c7e;
    }
    
    footer ul li a:hover {
        color: white;
    }
    
    .icons {
        display: flex;
        list-style: none;
        padding: 2em;
        justify-content: center;
        align-items: center;
        margin: 0;
    }